*{
    margin: 0px;
    padding: 0px;
}
.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 255, 255, 0.075);
    padding: 50px;
    span{
        color: orangered;
    }


   .navbar-logo{
       width: 30%;
       font-size: 50px;
       font-weight: 600;

   }
  .menubar{
    ul{ 
        display: flex;
       
        
        li{
             list-style: none;
             margin-right: 50px;
             a{
              
                text-decoration: none;
                padding: 10px;
                font-size: 20px;
                font-weight: 500;
             }
          a:hover{
            color : rgba(255, 166, 0, 0.377);
            font-size: 20px;
          }
             
        }
    }
  }

}


               // header styles

               

               header{
                .banner{
                    margin-top: 50px;
                    
                    background-image: url("/new-year-new-me/images/banner/banner1.png");
                    background-repeat: no-repeat;
                    height: 1000px;
                    width: 80%;
                    margin-left: 200px;

                    h1{
                         padding-top: 200px;
                         text-align :center;
                         padding-left:500px ;
                         padding-top: 300px;
                    }
                    p{
                        text-align :center;
                        padding-left:500px
                         
                        
                    }
                }
               }
